<h1>Characters:</h1>
<h3>Search Results: <%= @facade.character_count %></h3>

<section class="search_results">
  <% @facade.first_25_characters.each do |char| %>
    <div id="character">
      <p><%= image_tag "#{char.photoUrl}" %></p>
      <p>Name: <%= char.name %></p>

      <% if char.no_allies? %>
        <p>Allies: None</p>
      <% else %>
        <p>Allies: <%= char.allies.join(", ") %></p>
      <% end %>

      <% if char.no_enemies? %>
        <p>Enemies: None</p>
      <% else %>
        <p>Enemies: <%= char.enemies.join(", ") %></p>
      <% end %>

      <p>Affiliations:<%= char.affiliation %></p>
    </div>
  <% end %>
</section>